<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Response</title>
</head>
<body>
    <h1>User Information</h1>

    <h3>Name</h3>
    <p><%= name %></p>

    <h3>City</h3>
    <p><%= city %></p>

    <h3>Country</h3>
    <p><%= country %></p>
</body>
</html>