<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        form{
            font-size: 25px;
            font-weight: bold;
        }
        label{
            margin: 2px;
        }
        button{
            border-radius: 35%;
            font-size: 20px;
            margin: 3px;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <form action="formdata" method="POST" >
        <label for="">Name:</label>
        <input type="text" name="name" value="">
        <label for="">City:</label>
        <input type="text" name="city" value="">
        <label for="">Country:</label>
        <input type="text" name="country" value="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>