<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Response</title>
</head>
<body>
    <h1>Song Information</h1>

    <h3>Song Name</h3>
    <p><%= songName %></p>

    <h3>Album</h3>
    <p><%= album %></p>

    <h3>Year of Release</h3>
    <p><%= releaseYear %></p>
</body>
</html>